.wrapper
{
	width 			: 700px;
	margin 			: 0 auto;
	font-size 		: 0.9em;
	font-family 		: Arial,Helvetica,Garuda,sans-serif;
}

.wrapper img.g-cs
{
	vertical-align 		: top;
	float 			: left;
}

.wrapper img.name_title
{
	float 			: right;
}


.wrapper .nav ul
{
	float 			: right;
	padding 		: 0;
	margin 			: 6px 0 -3px 0;
}

.wrapper .nav li
{
	display 		: inline;
	list-style 		: none;
	padding 		: 0;
	margin 			: -2px;
}

.wrapper .body
{
	width 			: 640px;
	border 			: 1px solid black;
	padding 		: 30px;
}

.wrapper img.nazli
{
	border 			: 1px solid black;
	margin 			: 10px;
	float 			: left;
}

.wrapper .bio
{
	text-align 		: justify;
	min-height 		: 320px;
}

.wrapper .bio p
{
	line-height 		: 16px;
	margin 			: 8px 0 18px 0;
	text-align 		: justify;
}

.wrapper .line
{
	border-bottom		: 1px solid black;
}


.wrapper .body .address
{
	padding 		: 15px 0 0 0;
	text-align 		: center;
	font-size 		: 0.9em;
}

.wrapper .body .address strong.red
{
	color 			: #C94D4D;
	font-size 		: 1.5em;
}




/*******************************
 * Research Page
 ******************************/
body.research h1
{
	text-align 		: center;
	text-decoration 	: underline;
	color 			: #C94D4D;
}

body.research h2
{
	color 			: #C94D4D;
	font-size 		: 1.1em;
}

body.research p
{
	padding 		: 20px;
	font-size 		: 0.9em;
}

body.research p.jump
{
	margin 			: 0 0 -10px 40px;
	padding 		: 0;
	font-size 		: 0.9em;
}

body.research ul
{
	padding 		: 10px 40px;
	font-size 		: 0.9em;
	list-style-image 	: url('images/bullet.gif');
}
